.git
.gitignore
.github
.idea
.vscode
.claude

**/target
**/node_modules
**/dist
**/.vite

gassi-backend/data
gassi-backend/logs
gassi-backend/*.log

**/*.iml
**/*.iws
**/*.ipr

README.md
AGENTS.md
**/*.md

**/.env
**/.env.*
